<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/SpringIcon.png" type="image/png">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
    <div class="my-auto text-center">
      <form th:action="@{/login}" th:method="post">
          <h2>Please sign in up</h2>
        <label for="username"></label>
        <input id="username" type="text" name="username" class="form-control" placeholder="email address" required autofocus/>
        <label for="password"></label>
        <input id="password" type="password" name="password" class="form-control mb-3" placeholder="password" required>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
</div>
</body>
</html>